$text-max-width: 500px;

#about-me {
  background-color: $base-color-two;
  margin: 0;
  display: grid;
  grid-template-rows: auto repeat(3, 1fr) auto minmax(30px, 1fr);
  grid-template-columns: 1fr;
  min-height: 100vh;

  //   grid-template-areas:
  //     "title"
  //     "pic"
  //     "pic"
  //     "text"
  //     "text"
  //     "text";

  h1 {
    margin: 15px;
    grid-area: title;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .text-container {
    background-color: $background-color-text;
    font-family: $font-family-detail;
    width: 90%;
    grid-area: text;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    z-index: 1;
    max-width: $text-max-width;

    p {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  img {
    width: 65%;
    max-height: auto;
    grid-area: pic;
    place-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    z-index: 2;
  }

  #text-padding {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: $background-color-text;
    width: 90%;
    justify-self: center;
    max-width: $text-max-width;
  }
}
