<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Andrew White</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Vollkorn&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
        <section id="banner">
            <nav>
                <img class="menu-img" src="../static/logo.png" alt="logo">
                <img class="menu-img" src="../static/menu.png" alt="menu">
            </nav>
            <div id="banner-text">
                <h1 id="name" class="section-text">Andrew White</h1>
                <h1 id="job">Front End <br>&<br> Software Developer</h1>
                <button>Find out more</button>
            </div>
        </section>
        <section id="about-me" >
            <h1 class="section-text">About Me</h1>
            <img src="../static/b&w.png" alt="Andrew White Image">
            <div id="text-padding"></div>
            <div class="text-container">
                <p>I’m a senior engineer wth over 10 yesra experience in the space industry. My passion for using technology to create innovative solution to problems has led me to peruse a career hange into software development.</p>
                <p>My self driven journey in programming has seen me learn multiple languages and frameworks allowing me to create projects from an android app to a javascript programmed photo frame.</p>
                <p>I’m engaged and committed and hope to find new opportunities in the software and web development industries.</p> 
            </div>
        </section>
    </main>
  </body>
</html>
<!-- <a href='https://www.freepik.com/photos/background'>Background photo created by GarryKillian - www.freepik.com</a> -->