<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Andrew White</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
        <section id="banner">
            <nav>
                <img class="menu-img" src="../static/logo.png" alt="logo">
                <img class="menu-img" src="../static/menu.png" alt="menu">
            </nav>
            <div id="banner-text">
                <h1 id="name">Andrew White</h1>
                <h1 id="job">Front End <br>&<br> Software Developer</h1>
                <button>Find out more</button>
            </div>
        </section>
    </main>
  </body>
</html>
<!-- <a href='https://www.freepik.com/photos/background'>Background photo created by GarryKillian - www.freepik.com</a> -->